html, body{
margin: 0;
padding: 0;
}
p{
text-align: justify;
}
#box{
width: 1000px;
height: auto;
margin: auto;
}
#header{
background-color: #F9F8F6;
padding: 20px;
}
#menubar{
background-color: #EFE9E3;
margin: auto;
}
.teksmenu{
text-decoration: none;
}
#konten{
padding: 20px;
}
#footer{
background-color: #D9CFC7;
padding: 20px;
}
